fastapi
uvicorn[standard]
langchain
langchain-google-genai
langchain-huggingface
langchain-pinecone
langchain-community
langgraph
pinecone-client
tavily-python
pypdf
sentence-transformers
python-dotenv
python-multipart
